.uno1{
    background-color: #D2E0FB;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.uno2{
    background-color: #F9F3CC;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.uno3{
    background-color: #D7E5CA;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.uno4{
    background-color: #8EACCD;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}




.dos1{
    background-color: #001524;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.dos2{
    background-color: #445D48;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.dos3{
    background-color: #D6CC99;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.dos4{
    background-color: #FDE5D4;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}





.tres1{
    background-color: #6F61C0;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.tres2{
    background-color: #A084E8;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.tres3{
    background-color: #8BE8E5;
        height: 50px;
    width: 50px;
    border-radius: 40px;
}
.tres4{
    background-color: #D5FFE4;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}





.cuatro1{
    background-color: #FFF3DA;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.cuatro2{
    background-color: #DFCCFB;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.cuatro3{
    background-color: #D0BFFF;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.cuatro4{
    background-color: #BEADFA;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}





.cinco1{
    background-color: #900C3F;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.cinco2{
    background-color: #C70039;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.cinco3{
    background-color: #F94C10;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.cinco4{
    background-color: #F8DE22;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}



.seis1{
    background-color: #EF9595;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.seis2{
    background-color: #EFB495 ;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.seis3{
    background-color: #EFD595;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.seis4{
    background-color: #EBEF95;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}




.siete1{
    background-color: #0079FF;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.siete2{
    background-color: #00DFA2;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.siete3{
    background-color: #F6FA70;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.siete4{
    background-color: #FF0060;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}




.ocho1{
    background-color: #451952;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.ocho2{
    background-color: #662549;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.ocho3{
    background-color: #AE445A;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.ocho4{
    background-color: #F39F5A;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}




.nueve1{
    background-color: #45FFCA;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.nueve2{
    background-color: #FEFFAC;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.nueve3{
    background-color: #FFB6D9;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.nueve4{
    background-color: #D67BFF;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}




.diez1{
    background-color: #DAB88B;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.diez2{
    background-color: #F3E9DD;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.diez3{
    background-color: #FDF6EC;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.diez4{
    background-color: #B7CADB;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}





.once1{
    background-color: #FBA1B7;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.once2{
    background-color: #FFD1DA;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.once3{
    background-color: #FFF0F5;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.once4{
    background-color: #FFDBAA ;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}




.doce1{
    background-color: #040D12;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.doce2{
    background-color: #183D3D ;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.doce3{
    background-color: #5C8374;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.doce4{
    background-color: #93B1A6 ;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}




.trece1{
    background-color: #EAC696;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.trece2{
    background-color: #C8AE7D;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.trece3{
    background-color: #765827;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.trece4{
    background-color: #65451F;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}




.catorce1{
    background-color: #6499E9;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.catorce2{
    background-color: #9EDDFF ;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.catorce3{
    background-color: #A6F6FF ;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.catorce4{
    background-color: #BEFFF7 ;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}




.quince1{
    background-color: #22A699;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.quince2{
    background-color: #F2BE22 ;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.quince3{
    background-color: #F29727 ;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.quince4{
    background-color: #F24C3D ;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}


.dieciseis1{
    background-color: #3AA6B9;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.dieciseis2{
    background-color: #FFD0D0 ;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.dieciseis3{
    background-color: #FF9EAA ;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.dieciseis4{
    background-color: #C1ECE4 ;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}